/*this is only for debugging purpose after debugging remove it */
.padding-check
{
  padding-left: 5%;
}
/*top is only for debugging purpose after debugging remove it */




/*new home page debugging css*/

.menu-bar{
  display: block;
  padding: 1.5rem 2rem;
}
.vertical-line {
  border-right: 1px solid #bdbdbd;
  padding-left: 20px;
}

.btn-hover-blue li a{


  text-decoration: none;
  font-size: 14px;
  color: rgb(69, 85, 97);
  line-height: 1.2;
  font-weight: 600;

}







.content-sm-block {
  margin-top: 45px;
  padding-right: 0 !important;
  padding-left: 200px;
}






@media (min-width: 1280px){
  .nav-row {
    padding-left: 135px;
    padding-right: 135px;
  }
}

/*
@media (max-width: 1200px){
 .search-bar-padding-bottom .profile-search input {
    margin-left:  10% !important;
    width: 313px;
    position: absolute;
}

}*//*
@media (max-width: 1020px){
 .search-bar-padding-bottom .profile-search input {
    margin-left:  0% !important;
    width: 313px;
    position: absolute;
}
.search-bar-padding-bottom .profile-search input{
    margin-left: 30%;
    width: 313px;
    position: absolute;
}

}*/


@media (max-width: 480px){
  .content-sm-block {
    margin-top: 45px;
    padding-right: 0 !important;
    padding-left: 0px !important;
  }
}

  @media (max-width: 480px){
    .menu-bar {
     padding-left: 21.5%;
     padding-top: 1.5rem;
     padding-right: 0;
   }
 }
   /*@media (max-width: 480px){
    .search-bar-padding-bottom .profile-search input {
    margin-left: 0 !important;
    width: 313px;
    position: absolute;
}
.search-icon {
    margin-left: 73%;
}
 }
*/





   /*this is media query for mobile screen which give margin from left to content block  circle images*/



/*.circle-blue {
    margin-left: 103px;
    text-align: center!important;
    height: 92px;
    width: 92px;
    background-color: #210064;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(17, 30, 108);
    border-radius: 50%;
}
.circle {
  text-align: center!important;
  height: 92px;
  width: 92px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(17, 30, 108);
  border-radius: 50%;
  /*this is circle alignment and width*/
  margin-left: 95px;
  /*end of  circle alignment and width*/



}
*/


}





.paragraph-sm-grey.txt1-align {
  padding-right: 20px;
}

.left-align{
  margin-left: -80px;
}

.line{
  border-right: 1px solid rgb(69, 85, 97);;
  padding-right: 20px;

}
.content-1{
  margin-top: 40px;
}
.main-content-row{
  padding-top: 20px;
}
.heading-lg-red1 {
  font-size: 36px;
  color: #7c0a02;
  line-height: 1.167;
  font-weight: 900;
  text-transform: uppercase;
}

.register{
 color: #fff!important;
 border-radius: 3px !important;
 background-color: rgb(17, 30, 108)!important;
 padding: 7px 35px!important;
}
.register:hover{
 border-radius: 3px !important;
 border:2px solid rgb(17, 30, 108)!important;
 background-color: #fff!important;
 color: rgb(17, 30, 108)!important;
 padding: 5px 32px!important;
}

.btn-lg-white-shadow-red {

  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  color: #7c0a02 !important;
  background-color: #fff;
  line-height: 1.333;
  padding: 7px 30px;
  border-top: 1px solid #810D07 !important;
  border-left: 1px solid #810D07 !important;
  border-right: 1px solid #810D07 !important;
  border-bottom: 4px solid;
  border-color: #3f0501;
  text-transform: uppercase;
}

.btn-lg-white-shadow-red:hover{
  background-color:#3F0501;
  color:#fff !important;
}
.background-image-home{
  background-image: url("../images/pexels-photo-543222.png");
  z-index: 0;
  height: 450px;
  position: absolute;
  width: 100%;
  opacity: 0.4;
  height: 477px;
}

.heading-style{
  font-size: 36px;
  color: #7c0a02;
  line-height: 1.167;
  font-weight: 600;
  text-transform: uppercase;
}
.margin-top-1{
  margin-top: 37px;
}
.text-md-1{
  font-size: 19px !important;
  color: rgb(69, 85, 97);
  line-height: 1.2!important;
}





.hovereffect {

  width:88%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
}

.hovereffect .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:#7C0A02;
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
}

.hovereffect img {

}

.hovereffect p {
  text-transform:uppercas;
  color:#fff;
  text-align:center;
  position:relative;
  font-size:16px;
  /*-webkit-transform:translatey(-100px);*/
  /*-ms-transform:translatey(-100px);*/
  
  /*this the changing i want later for hover effects of circle images*/

  transform:translatey(-100px);                     

  /*-webkit-transition:all .2s ease-in-out;*/
  /*transition:all .2s ease-in-out;*/
  padding: 0px 33px;
}

.hovereffect p.info {
  text-decoration:none;
  display:inline-block;
  /*text-transform:uppercase;*/
  color:#fff;
  border:1px solid #fff;
  /*background-color:transparent;*/
  /*opacity:0;*/
  /*filter:alpha(opacity=0);*/
  /*-webkit-transition:all .2s ease-in-out;*/
  /*transition:all .2s ease-in-out;*/
  /*margin:50px 0 0;*/
  /*padding:7px 14px;*/
}

.hovereffect p.info:hover {
  /*box-shadow:0 0 5px #fff;*/
}

.hovereffect:hover img {
  /*-ms-transform:scale(1.2);*/
  /*-webkit-transform:scale(1.2);*/
  /*transform:scale(1.2);*/
}

.hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}

.hovereffect:hover p,.hovereffect:hover p.info {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
}

.hovereffect:hover p.info {
  /*-webkit-transition-delay:.2s;*/
  /*transition-delay:.2s;*/
}
.hovereffect .box p{

  height: 100px;
  font-size: 14px;
  color: rgb(69, 85, 97);
}


.circle-blue{
  margin-left: 31%;
  text-align: center!important;
  height: 92px;
  width: 92px;
  background-color:#210064 ;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(17, 30, 108);
  border-radius: 50%;
}
.circle {
  text-align: center!important;
  height: 92px;
  width: 92px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(17, 30, 108);
  border-radius: 50%;
  /*this is circle alignment and width*/
  margin-left: 31%; 
  /*end of  circle alignment and width*/
}








.content-sm-block{
  margin-top:45px;
  padding-right: 0 !important;
  padding-left: 200px;
}


/*
.view-all-features-btn{

    font-size: 15px;
    color: #455561;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid;
    border-bottom: 4px solid;
    border-color: #1e252a;
    line-height: 2.333;
    padding: 7px 30px;
    display: inline;
    text-transform: uppercase;

}

*/


.view-all-features-btn{
  font-size: 15px;
  color: #455561;
  border-radius: 3px;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid;
  border-bottom: 4px solid;
  border-color: #1e252a;
  line-height: 2.333;
  padding: 0px 30px;
  display: inline;
  text-transform: uppercase;
}

.view-all-features-btn:hover{
  background-color: #1e252a;
  color: #fff !important;
}
.view-all-features-btn-align{
  margin-top: 57px;
}


.heading2-align{
  margin-top: 25px;
}





.btn-sm-white-shadow-red {

  font-size: 15px;
  font-weight: bold;
  border-color: rgb(63, 5, 1);
  color: rgb(124, 10, 2);
  background-color: white;
  width: 150px;
  height: 34px;
  border: 1px solid;
  
  box-shadow: 1px 3px rgb(63, 5, 1);
}

.btn-sm-white-shadow-red:hover{
  background-color: rgb(63, 5, 1);
  color:white;

  font-size: 15px;
  font-weight: bold;
}


.btn-sm-white{
 font-size: 15px;
 box-shadow: 1px 3px rgb(69, 85, 97);
 border: 1px solid;
 color: rgb(69, 85, 97);
 background-color: white;
 width: 200px;
 height: 34px;
}
.btn-sm-white:hover{
  background-color: rgb(69, 85, 97);
  color:white;
  font-size: 15px;
  font-weight: bold;
}



.heading-lg2-md{
  font-size: 38px;
  color: #7c0a02;
  line-height: 1.167;
  font-weight: 600;
  text-transform: uppercase;
}



.paragraph-align{
  font-size: 17px;

}

.logo-img-align{
  margin-top: -10px;
}













/*end of home page debugging css*/












@media screen and (max-width: 736px) {

  .img-pc{
    width: 100% !important;
  }
  .footer-margin p{
    text-align: left!important;
  }
  .dashboard-div{
    width: 100% !important;
    height: 350px !important;

  }
  

}
.margin-bottom{
  margin-bottom: 20px;
}

.border-line-grey{

	border:1px solid #5C6472;
  margin-bottom: 10px;
}

.btn-extrasm-white{
  font-size: 15px;
  box-shadow: 1px 3px rgb(69, 85, 97);
  border: 1px solid;
  color: rgb(69, 85, 97);
  background-color: white;
  width: 170px;
  height: 34px;
}
.btn-extrasm-white:hover{
  background-color: rgb(69, 85, 97);
  color:white;
  font-size: 15px;
  font-weight: bold;
}
.btn-sm-green{
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid;
  color: white;
  background-color:#186B20 ;
  width: 200px;
  height: 34px;
}

.paragraph-sm-grey {
  color: rgb(69, 85, 97);
  font-size: 19px;
}
.paragraph-sm-white{
 color: white;
}

.btn-hover-red-btn li a:hover{
 color: #fff!important;
 border-radius: 3px;
 background-color: #7D0A02;
 padding: 5px 35px;
}
.back-color-blue{
	background-color: #455561;
}


.box-hover-red:hover .overlay{
 background-color: #7C0A02;
 display: inline-block;
 text-decoration: none;
 color: #fff;
 border: 1px solid #fff;
 filter: alpha(opacity=0);
 -webkit-transform: scale(0);
 -ms-transform: scale(0);
 transform: scale(0);
 -webkit-transition: all 0.4s ease-in-out;
 transition: all 0.4s ease-in-out;
 font-weight: normal;
}
.block-border{
  border:2px solid;
  height:150px;
  width: 300px;
  background:#EEEEEE ;
}
.btn-upload-file{

  z-index:50;
  position:absolute;
  left:36%;
  top:40%;
}
.file-input{
  opacity: 1;
  position:absolute;
  z-index:500;
  left:36%;
  top:90%;
  width:200px !important;
}

.heading-lg-blue{
  font-size: 36px;
  color: #2B3576;
}
.text-center{
  text-align: center;
}
.text-bold{
  font-weight: bold;
}

.btn-sm-white-shadow-red  {
  font-size: 12px;
  
  color: rgb(124, 10, 2);
  font-weight: bold;
  
}
.paragraph-sm-red {
  font-size: 12px;
  
  color: rgb(124, 10, 2);
  
}
.child{
  position: absolute;
}
.paragraph-med-red {
  font-size: 16px;
  color: rgb(124, 10, 2);
  
}
.background-lite-grey{
  background-color:  rgb(240, 240, 240);
}
.background-lite-grey-1{
 background-color:  rgb(240, 240, 240);
 height: 400px;
}
.background-lite-grey-table{
  background-color: #F6F6F6;
}
.margin-top{
  padding-top: 20px;
}

.btn-sm-white-shadow-red:hover {

  border-color: rgb(63, 5, 1);
  
}
.text-left{
  text-align: left;
}
.input-text {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(239, 239, 239);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  
}
.btn-sm-green{
  font-size: 12px;
  color: rgb(255, 255, 255);
  background-color: rgb(6, 58, 20);
  font-weight: bold;

}
.btn-sm-grey{
  font-size: 12px;
  color: rgb(255, 255, 255);
  background-color: rgb(30, 37, 42);
  font-weight: bold;
  width: 100px;
  height: 34px;
  border: 1px solid rgb(30, 37, 42)
}



.col-align-block .col-md-3{
  padding-left: 19px !important;
  padding-right: 0px !important;
  /* margin-left: 290px !important; */
  margin-right: -50px !important;
}




..col-align-block{
  margin-left: 70px;
  padding-right: 0 !important;
}













.image-middle{
  padding-left:  3px !important;
  padding-top: 25px;
}
.ul-padding{
  padding-top: 12px;
}
.btn-lite-green {
 font-size: 15px;
 color: white;
 background-color: #5CD373;
 width: 200px;
 height: 34px;
}


.margin-top-p-home{
 padding-top: 100px!important;
}
.margin-top-p2-home{
 padding-top: 50px!important;
}
.select{
  position: absolute;
  left: 90%;
  top:90%;

}
form.example input[type=text] {
  float: left;
}

form.example button {
  float: left;
  width: 20%;
}
.border-color-royalblue{

  background-color: #4B535B;
}
.border-color-royalblue:hover{
  box-shadow: 1px 5px rgb(69, 85, 97);
}

.paragraph-sm-white{
  color: white;
}
.background-image-whypsc{
  background-image: url("../images/k.png");
  z-index: 0;
  height: 230px;
  position: absolute;
  width: 100%;

}

.footer-margin{

}

.register-page-ul li a{
  font-size: 19px;
  color: rgb(69, 85, 97);
}
.margin-top-loginpage{
  padding-top: 50px;
}
.dashboard-div{
 position: relative;
 padding-top: 20px;
 background-color: #5C6472;
 height: 600px;



 

}

.login-content{
  margin: 20px auto;
  width: 400px;
}
.left-row .list-inline  a{
  font-size: 20px;
  color: rgb(124, 10, 2);
  font-weight: bold;

}

.dropdown-container{
 display: none;
 /*background-color: #4B535B;*/


}

.border-grey-col{
  border: 1px solid rgb(69, 85, 97);
  height: 150px;

}
.margin-top1{
  padding-top: 20px;
}

.img-sm{

  width: 200px;
}

th .paragraph-sm-grey {
  padding-left: 12px
}


.thead-color{
  background: #F6F6F6;
}
