body{
  font-family: 'Lato', sans-serif;
}



/*this is just for debugging purpose*/
.kh{
  border: 1px solid;
}
.a{
  background: yellow;
}
.aa{
  background: green;
}



/*end*/




/*this css is only for debugging purpose*/


.profile-logo img{
  padding-top: 10px;
}
.left-bar ul{
  padding-top: 13px;
}
.view-store{
  font-size: 14px;
  border: 1px solid #000;
  text-transform: uppercase;
  font-weight: 600;
  width: 150px;
  color: #fff!important;
  border-radius: 4px;
  background-color: #7D0A02;
  /* padding: 5px 35px; */
  height: 28px;
  width: 150px;
  line-height: 1.7;
  padding-top: 0;




/*
  font-size: 14px;
  border: 1px solid #000;
  text-transform: uppercase;
  font-weight: 600;
  width: 150px;
  color: #fff!important;
  border-radius: 4px;
  background-color: #7D0A02;
  padding: 5px 35px;*/
}
.view-store:hover {
  background: rgb(173,145,145); 
  border: 2px solid #000; 
}
.navbar {

  color: rgb(69, 85, 97);
  font-weight: bold;
  font-size: 14px;
  
}
.logo-size{

  width: 150px;
}
.nav-dashboard.navbar-collapse {
  margin-bottom: 6px;
  margin-left: 5px;
}
span .nav-link {
  padding-bottom: 15px;
}
.heading-lg-red{
  font-size: 30px;
  color: #7c0a02;
  line-height: 1.167;
  font-weight: 900;
  text-transform: uppercase;
  
}
.header-left .pull-left .heading-lg-red{
  margin-top: -6px;
}
.col-md-12.header-left {
  padding-left: 20px;
}

/*this the width of select box like bulk action and apply filters*/
.button-group {
  width: 150px;
}
.header2-list-inline .down-btn{
  border-radius: 0px;
  height:30px;
  width:30px;
  background-color:#5c6672;
  margin-left: 34px !important;
  border:0px;
}


.header-left div.pull-right {
  margin-bottom: 25px;
}
.header2-list-inline {
  margin-bottom: 20px;
}

/*this is display none property in mobile screen the caret icon*/


.button-group .dropdown-toggle:after {
  display: none;
}

.search-bar-padding-bottom .profile-search .input-group-append button{
  margin-left: 170px;
}


.searchrow-2{
  margin-top: -14px !important;
}

.margin-table{
  margin-bottom: 24px;
}

.table-align{
 margin-bottom: 52px;
}

.table-laign2{
  margin-bottom: 52px;
}
.table-sm-align{
  margin-top: 76px;
  padding: 0;
}

.table-sm-align2{
  margin-top: 90px;
  padding: 0;
}





/*end of style*/

/*
.header2-list-inline {
    padding-left: 13px;
}
*/

.search-bar-padding-bottom .profile-search input{
  /*margin-left: 30%;*/
  width: 238px;
  position: absolute;
  height: 38px;
  margin-left: -31% !important;
  border: 1px solid;
  border-radius: 3px;
  padding-left: 5px;
}

}
.search-bar-padding-bottom .profile-search input:hover{
  border: 1px solid;
  border: 1px solid;
  border-radius: 3px;
  padding-left: 5px;
}
}

/*this is search row alignment*/
.row3-search{
  margin: 0 !important;
  
}
.selectbar2{
  margin-bottom: 52px;
  margin-top: 20px;
}
.searchbox3{
  margin-bottom: 66px;
}

.fa-angle-down {
  color: #fff;
}

.dropdown-toggle::after {
  display: none;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.ul-margin{
  margin-top: 20px;
}

.searchrow3{
 margin-top: -15px;
}

.select-bar3{
  margin-top: -20px;
}
.table-align3{
  margin-top: -20px;
  padding: 0;
}
.table-align input{
  width: 275px;
}
.table-align4{
  margin-top: -66px;
  padding: 0;
}

/*top css is only for debugging purpose*/













.profile-logo{
  background-color: #5C6472;
}
.left-bar{
  background-color:#5c6672;
  min-height:700px;
}


.left-bar ul img{
  margin-right:10px;
}

.left-bar .menu-name{
  font-size: 14px;
  color:#fff;
}
.dropdown-container a{

 font-size: 14px;
 color:#fff!important;

 padding-left: 30px;
}
.dropdown-container{

 display: none;
}
.left-bar .list-inline li .dropdown-btn .dropdown-container{display: none;}

.list-inline .list-inline-item .menu-name{

  font-size: 14px;
  color:#fff;
}

.list-inline .list-inline-item .menu-name:hover{
  color:#fff;
}
























/*this is the color of header navigation bar content*/
















.navbar-light .navbar-nav .nav-link {
  color: #905561;
}











.footer-margin {
  padding-left: 10.5%!important;
  padding-top: 30px;
}

.footer-header{
  font-size: 20px;
  font-weight: 400 !important;
}
.footer-text-size{
  font-size: 14px;
}
.border-table{
  border:1px solid #5C6672;
}
/*.table thead  {
    border: 1px solid #5C6672 !important;
    border-bottom: 3px solid #5C6672 !important;
    border-top: 2px solid #5C6672 !important;
    }*/
    .content-table{
      margin-left: 2px;
    }
    .table-top-margin{
      margin-top: 20px;
    }
    .margin-top-row1{
      margin-top: 20px;
    }









    .btn-orders-sm-green:hover {
      background: #209e2c; 
    }


    .ul_padding a:hover{
      background-color: #7B0F03;
    }
    @media screen and (max-width: 736px) {
      .content1{
        width: 100% !important;
        margin-top: auto !important;
        margin-left: 0px!important;
      }
    }

    .btn-orders-sm-green{
      font-size: 12px;
      color: rgb(255, 255, 255);
      background-color: #186B20;
      border: 1px solid #073D15;
      height: 33px;
      width: 158px;
      border-radius: 3px;
      margin-top: 13px;
      border-bottom: 4px solid #073D15;

    }
    .btn-orders-sm-green a {
      color: #fff;
      text-decoration: none;
      font-weight: 700;
      font-size: 12px;
      width: 158px;
      height: 32px;
    }
    .authorize-btn{
      margin-left: 16px;
    }

    .table-header-width{
      width: 125px;
      
    }
    .table-header-width p{
      font-size: 16px;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      margin-top: 0px !important;
      margin-bottom: 9px !important;
    }
/*table th{
  font-size: 16px;
  padding-bottom: 10px;
}
*/

/* Hide the browser's default checkbox */
.check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #5C6472;
  border-radius:50%;
}
.check-box:hover input ~ .checkmark {
  background-color: #5C6472;
}
.check-box input:checked ~ .checkmark {
  background-color: #E5E5E5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: inline;
}

/* Show the checkmark when checked */
.check-box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-box .checkmark:after {
  left: 9px;
  top: 4px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}


.sub-text .dropdown a{
  color:#000;
  font-size: 12px;
}
.menu{
  display: none;

}
.menu ul{
  list-style-type: none;
  margin: 0;
  padding:0px 0px 0px 24px;

  /*width: auto;*/
  color: #000;


}
.menu ul li{
  font-size: 14px;
  float: left;
  position: relative;

}
.menu ul li a{
 color:#000;
 padding-right: 3px;
}
.menu ul ul{


}
.show{
  display:block;
}
.hide{
  display: none;
}
.tab-border{

}

.tab-border{
  border:1px solid #67707b;
}
.tab-border td, .tab-border th{
  border-top:1px solid #67707b;
}
.tab-border td{
  border-top:1px solid #67707b;
  font-size: 14px;
  color: #282828;
  font-weight: bold;
}


.tab-border thead th{
  border-bottom:1px solid #67707b;
  background:#f6f6f6;
  color:#92352f;
}




.btn-cancel{
  margin-top: 15px;   
}
.btn-cancel a{
  color: #000;
}

/*.select-dropdown{
  height: 30px;
  width: 140px;

}
.selectwrap{
  position: relative;
  float: left; 
  width: 140px;
  height: 30px;
  margin-right: 10px;
}
.selectwrap:after{
  color: white;
  content:"∨";
  text-align: center;
  line-height:32px;
  position: absolute;
  background: #fff;
  right: 1px;top: 1px;
  pointer-events: none; 
  background-color: rgb(92, 102, 114);
  width: 33px;
  height: 28px;
}

.multiselect {
  width: 140px;
}

.selectBox {
  position: relative;

}

.selectBox select {
  width: 140px;
  height: 30px;
  
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.selectBox2 .overSelect {
  margin-right: 4px
}
.overSelect:after{
  color: white;
  content:"∨";
  text-align: center;
  line-height:32px;
  position: absolute;
  background: #fff;
  right: 0px;
  top: 1px;
  background-color: rgb(92, 102, 114);
  width: 33px;
  height: 28px;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
  font-size: 16px;
}

#checkboxes label:hover {
  text-decoration: underline;
  position: relative;
}




.multiselec2 {
  width: 140px;
}

.selectBox2 {
  position: relative;

}

.selectBox2 select {
  width: 140px;
  height: 30px;
  margin-right: -33px;
  float: left;
}

.overSelect2 {

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.overSelect2:after{
  color: white;
  content:"∨";
  text-align: center;
  line-height:32px;
  position: absolute;
  background: #fff;
  background-color: rgb(92, 102, 114);
  width: 33px;
  height: 29px;
  
}

#checkboxes2 {
  display: none;
  border: 1px #dadada solid;
}
#checkboxes2 label {
  display: inline-block;
  font-size: 16px;
}

#checkboxes2 label:hover {
  position: relative;
  text-decoration: underline;
}


.check-box a{
  font-size: 16px;
  padding-bottom: 10px;
}
.check-box span{
  font-size: 14px;
    color: rgb(136,136,136);
}

.handle-menu p{
  font-size: 16px;
}


.select-dropdown-lg{
  width: 482px;
  height: 37px;

}
.selectwrap-lg{
  position: relative;
  float: left; 
  width: 482px;
  height: 36px;
  margin-right: 100px;
}
.selectwrap-lg:after{
  color: white;
  content:f107;
  text-align: center;
  line-height:32px;
  position: absolute;
  background: #fff;
  right: 1px;
  top: 1px;
  pointer-events: none; 
  background-color: rgb(92, 102, 114);
  width: 33px;
  height: 36px;
}
.select-dropdown-lg{
  width: 100%;
  height: 37px;
}

.selectwrap-lg2{
  position: relative;
  float: left; 
  width: 462px;
  height: 36px;
}
.selectwrap-lg2:after{
  color: white;
  content:"∨";
  text-align: center;
  line-height:32px;
  position: absolute;
  background: #fff;
  right: 1px;
  top: 1px;
  pointer-events: none; 
  background-color: rgb(92, 102, 114);
  width: 33px;
  height: 36px;
  }*/
  .input-sm {
    width: 98.5%;   
  }
  .textarea-top-margin{
    margin-top: 35px;
  }







