body{
 font-family: 'Lato', sans-serif;
}
@media screen and (max-width: 736px) {
  .navbar-dashboard{
    position: absolute !important;
    width: 100% !important;
    margin-left: 0!important;
    top:0px !important;
  }
  .navbar-dashboard-new{

    width: 100% !important;
    margin-left: 0!important;
    
  }
  .table1-lg th tr td{
   width: 100% !important;
 }

 .footer-margin p{
  text-align: left!important;
}
.dashboard-div{
  width: 100% !important;
  height: 350px !important;

}
.dropdown-container{
  width: 100% !important;
}

}
.margin-bottom{
  margin-bottom: 20px;
}
.border-line-grey{

  border:1px solid #5C6472;
  margin-bottom: 10px;
}
.btn-sm-white-shadow-red {

  font-size: 15px;
  font-weight: bold;
  border-color: rgb(63, 5, 1);
  color: rgb(124, 10, 2);
  background-color: white;
  width: 150px;
  height: 34px;
  border: 1px 3px solid rgb(63, 5, 1);
}

.btn-sm-white-shadow-red:hover{
  background-color: rgb(63, 5, 1);
  color:white;

  font-size: 15px;
  font-weight: bold;
}
.btn-lg-white-shadow-red {
  font-size: 18px;
  font-weight: 900;
  border-color:#9A463E;
  color: rgb(124, 10, 2);
  background-color: white;
  width: 391px;
  height: 34px;
  border: 1px solid;
  border-bottom: 4px solid #3F0701;
  border-radius: 3px;
}
.btn-lg-white-shadow-red:hover{
  background-color: #7B0F03;
  color:white;
  font-size: 18px;
  font-weight: 500;
}
.btn-sm-white{
 font-size: 15px;
 font-weight: 900;
 border-color: #1E242A;
 color: rgb(69, 85, 97);
 border: 1px solid;
 background-color: white;
 width: 200px;
 height: 34px;
 border-bottom: 4px solid #1E242A;
 border-radius: 3px;
}
.btn-sm-white:hover{
  background-color: #455361;
  color:white;
  font-size: 18px;
  font-weight: 500;
  
}
.view-all-features-btn{
  padding-top: 20px;
}
.btn-extrasm-white{

 font-size: 15px;
 border-color:  rgb(69, 85, 97);
 border: 1px  solid;
 color: rgb(69, 85, 97);
 background-color: white;
 width: 150px;
 height: 34px;
 border-bottom: 4px solid;
 border-right: 2px solid;
}
.btn-extrasm-white:hover{
  background-color: rgb(69, 85, 97);
  color:white;

  font-size: 15px;
  font-weight: bold;
}
.btn-sm-green{

 font-size: 15px;

 border: 1px solid;
 color: white;
 background-color:#186B20 ;
 width: 200px;
 height: 34px;
}

.paragraph-sm-grey {
  color: rgb(69, 85, 97);
  font-size: 19px;
  font-weight: 400px;
}
.paragraph-sm-white{
 color: white;
}

.btn-hover-red-btn li a:hover{
 color: #fff!important;
 border-radius: 3px;
 background-color: #7D0A02;
 padding: 5px 35px;
}
.back-color-blue{
  background-color: #455561;
}
.btn-hover-blue li a{
 
  font-size: 14px;
  font-weight: 400;
  color:rgb(69, 85, 97);
  text-decoration: none;
  color: #000;
}
.register{
 color: #fff!important;
 border-radius: 3px !important;
 background-color: rgb(17, 30, 108)!important;
 padding: 10px 32px!important;
}

.box-hover-red:hover .overlay{

 background-color: #7C0A02;

 display: inline-block;
 text-decoration: none;

 color: #fff;
 border: 1px solid #fff;


 filter: alpha(opacity=0);
 -webkit-transform: scale(0);
 -ms-transform: scale(0);
 transform: scale(0);
 -webkit-transition: all 0.4s ease-in-out;
 transition: all 0.4s ease-in-out;
 font-weight: normal;

}
.block-border{
  border:2px solid;
  height:150px;
  width: 300px;
  background:#EEEEEE ;
}
.btn-upload-file{

  z-index:50;
  position:absolute;
  left:36%;
  top:40%;
}
.file-input{
  opacity: 1;
  position:absolute;
  z-index:500;
  left:36%;
  top:90%;
  width:200px !important;
}
.heading-lg-red{
  font-size: 36px;
  margin-top: 40px;
  color: rgb(124, 10, 2);
  font-weight: 700;
  
}
.heading-lg-red-1{
  margin-top: 5%;
  font-size: 36px;
  color: rgb(124, 10, 2);
  font-weight: 700;
  
}
.heading-lg-blue{
  font-size: 36px;
  
  color: #2B3576;
}
.text-center{
  text-align: center;
}
.text-bold{
  font-weight: bold;
}
.pc-img{
  width: 80%;
  padding-top: 13%;
}
.btn-sm-white-shadow-red  {
  font-size: 12px;
  
  color: rgb(124, 10, 2);
  font-weight: bold;
  
}
.paragraph-sm-red {
  font-size: 12px;
  
  color: rgb(124, 10, 2);
  
}
.child{
  position: absolute;
}
.paragraph-med-red {
  font-size: 16px;
  
  color: rgb(124, 10, 2);
  
}
.background-lite-grey{
  background-color:  rgb(240, 240, 240);
}
.background-lite-grey-1{
 background-color:  rgb(240, 240, 240);
 height: 400px;
}
.background-lite-grey-table{
  background-color: #F6F6F6;
}
.margin-top{
  padding-top: 20px;
}
.margin-top-1{
  margin-top: 20px;
}
.btn-sm-white-shadow-red:hover {

  border-color: rgb(63, 5, 1);
  
}
.text-left{
  text-align: left;
}
.input-text {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(239, 239, 239);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  
}
.btn-sm-green{
  font-size: 12px;
  
  color: rgb(255, 255, 255);
  background-color: rgb(6, 58, 20);
  font-weight: bold;

}
.btn-sm-grey{
  font-size: 12px;

  color: rgb(255, 255, 255);
  background-color: rgb(30, 37, 42);
  font-weight: bold;
  width: 100px;
  height: 34px;
  border: 1px solid rgb(30, 37, 42)
}
.navbar {

  color: rgb(69, 85, 97);
  font-weight: bold;

}
.logo-size{

  width: 150px;
}
.circle {
  text-align: center!important;
  margin:5px auto;
  height: 92px;
  width: 92px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(17, 30, 108);
  border-radius: 50%;
}
.circle-blue{
 margin:5px auto;
 
 text-align: center!important;
 height: 92px;
 width: 92px;
 background-color:#210064 ;
 border-style: solid;
 border-width: 1px;
 border-color: rgb(17, 30, 108);
 border-radius: 50%;
}
.image-middle{
  padding-left:  3px !important;
  padding-top: 25px;
}
.ul-padding{
  padding-top: 12px;


}
.btn-lite-green {

 font-size: 15px;
 color: white;
 background-color: #5CD373;
 width: 200px;
 height: 34px;
}

.hovereffect {

  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
}

.hovereffect .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:#7C0A02;
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
}

.hovereffect img {

}

.hovereffect p {
  text-transform:uppercas;
  color:#fff;
  text-align:center;
  position:relative;
  font-size:16px;

  -webkit-transform:translatey(-100px);
  -ms-transform:translatey(-100px);
  transform:translatey(-100px);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  padding:10px;
}

.hovereffect p.info {
  text-decoration:none;
  display:inline-block;
  text-transform:uppercase;
  color:#fff;
  border:1px solid #fff;
  background-color:transparent;
  opacity:0;
  filter:alpha(opacity=0);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  margin:50px 0 0;
  padding:7px 14px;
}

.hovereffect p.info:hover {
  box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}

.hovereffect:hover p,.hovereffect:hover p.info {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
}

.hovereffect:hover p.info {
  -webkit-transition-delay:.2s;
  transition-delay:.2s;
}
.hovereffect .box p{

  height: 100px;
  font-size: 19px;

  color: rgb(69, 85, 97);
}
.margin-top-p-home{
 padding-top: 100px!important;
}
.margin-top-p2-home{
 padding-top: 50px!important;
}
.select{
  position: absolute;
  left: 90%;
  top:90%;

}
/*form.example input[type=text] {
  float: left;
}

form.example button {
  float: left;
  width: 20%;
}*/
.border-color-royalblue{



}
.border-color-royalblue:hover{
  box-shadow: 1px 5px rgb(69, 85, 97);
}

.paragraph-sm-white{
  color: white;
  margin-top: 20px;
  font-size: 19.466px;
}
.background-image-whypsc{
  background-image: url("../images/why-back.png");
  z-index: 0;
  height: 230px;
  position: absolute;
  width: 100%;

}
.background-image-whypsc-overlay{
 background-color:rgba(255, 255, 255,0.85) !important;
 height: 230px;

 width: 100%;
}
.background-image-home{
  background-image: url("../images/12444.jpg");
  z-index: 0;
  height: 450px;
  position: absolute;
  width: 100%;
}
.background-home-overlay-1{
  /*margin: 0px 0px 0px 0px;*/
  background-color:rgba(255, 255, 255,0.85) !important;
  height: 450px;

  width: 100%;
}
.footer-margin{

}

.register-page-ul li a{
  font-size: 19px;

  color: rgb(69, 85, 97);
}
.margin-top-loginpage{
  padding-top: 50px;
}
.dashboard-div{
 position: relative;
 padding-top: 20px;
 background-color: #5C6472;
 height: 600px;
}

.login-content{
  margin: 20px auto;
  width: 400px;
}
.left-row .list-inline  a{
  font-size: 20px;

  color: rgb(124, 10, 2);
  font-weight: bold;

}

.left-margin{
  padding-left: 50px;
}
.dropdown-container{
 display: none;

 padding-left: 30px;

}
.dropdown-container a{

}
.sidenav .list-inline li .dropdown-btn:hover .dropdown-container{display: block;}
.dashboard .nav-dashboard .nav-item a{
  font-size: 19px;
  
  color: rgb(69, 85, 97);

  font-weight: none!important;

}
.dashboard{
  margin-left: -35px;
}
.view-store{

 color: #fff!important;
 border-radius: 3px;
 background-color: #7D0A02;
 padding: 5px 35px;
}

.nav-dashboard .nav-item .nav-link{

  font-size: 19px;

  color: rgb(69, 85, 97);
}
.border-grey-col{
  border: 1px solid rgb(69, 85, 97);
  height: 150px;
  border: 1px solid #6A6465;


}
.margin-top1{
  padding-top: 20px;
}

.img-sm{

  width: 200px;
}
.customer-table tbody td{
  border:0px !important;
  padding:5px 10px !important;
}

.customer-table thead th{
  border:0px !important;
  padding:5px 10px !important;
  font-weight:600 !important;
  font-size:14px;
}
.table1{
 border: 1px solid #6A6465;
 width: 380px;
}
.table1-lg  {

  word-wrap: break-word;
  border: 1px solid #6A6465;

}
/*form.search-box input[type=text] {
  padding-left: 10px;
  font-size: 14px;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  float: left;
  width: 450px;
  height: 30px;
  text-align: left;
}

form.search-box button {
  float: right;
  width: 33px;
  height: 34px;

  background-color: rgb(124, 10, 2);
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.search-box input{
  width: 350px!important;
}

form.search-box button:hover {
  background: #0b7dda;
}
.input-height{
  height: 80px;
}
.input-width{
  width: 200px;
}
.paragraph-bottom{
  padding-bottom: 5px;
}
.margin-bottom-lg{
  margin-bottom: 500px;
}
.why-psc-content{
  background-color: #4B535B;
  height: 250px;

}

.p-width{
  width: 900px;
}
.p-padding-left{
  padding-left: 10px;
}*/

