
/*this is changing class names*/
div-align



/*end of changing class name*/



.header-row-align{
	padding: 0px 35px;
}



.search-row{
	padding:0px !important;

}
.div-align{
	padding-left: -1px;
  margin-top: -14px;

}
.tabl-bottom{
  margin-top: -62px;
}
.select-align{
    margin-top: 6px;
    margin-bottom: 46px;
}

/*form.search-box input[type=text] {


  border: 1px solid rgb(239, 239, 239);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  float: right;
  width: 60%;
  height: 34px;
  text-align: left;
}

form.search-box button {
  float: right;
  width: 34px;
  height: 34px;
  background-color: rgb(124, 10, 2);
  color: white;
  font-size: 18px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-left: 235%;
  border-radius: 2.5px;
}

form.search-box button:hover {
  background: #0b7dda;
}

.check-box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: px;
  cursor: pointer;
  


  }*/









  @media (min-width: 1280px){
  	.container-fluid {
  		max-width: 1280px;
  	}

  	.header2-list-inline .down-btn{
  		border-radius: 0px;
  		height:30px;
  		width:30px;
  		background-color:#5c6672;
  		margin-left:29px;
  		border:0px;
  	}

  	.header2-list-inline .down-btn:hover, .header2-list-inline .down-btn:focus{
  		box-shadow:none !important;
  	}
  	.fa-angle-down{
  		color:#fff !important;
  		font-size:20px !important;
  		font-weight:400;

  	}
  	.header2-list-inline .list-inline-item .button-group .dropdown-toggle::after, .table-list-inline .list-inline-item  .dropdown-toggle::after{
  		display:none;
  	}
  	.header2-list-inline .list-inline-item .button-group{
  		border:1px solid #efefef;
  	}
  	.header2-list-inline .down-btn{
  		border-radius: 0px;
  		height:30px;
  		width:30px;
  		background-color:#5c6672;
  		margin-left: 34px !important;
  		border:0px;
  	}












  	.header2-list-inline .down-btn:hover, .header2-list-inline .down-btn:focus{
  		box-shadow:none !important;
  	}
  	.header2-list-inline .down-btn .fa-angle-down{
  		color:#fff !important;
  		font-size:20px !important;
  		font-weight:400;

  	}




  	.header2-dropdown-menu{
  		min-width:200px;
  		border-radius: 0px;
  	}
  	.dropdown-menu>li>a{
  		cursor:pointer;
  	}

  	.checkbox-content{

  	}

  	.checkbox-content {
  		display: block;
  		position: relative;
  		padding-left: 35px;
  		margin-bottom: 12px;
  		cursor: pointer;
  		font-size: 22px;
  		left: -90px;
  		top: 12px;

  	}
  	.list-checkbox-content{
  		padding-left:0px !important;
  		margin-bottom:0px !important;
  	}

  	.checkbox-content .label{
  		/*margin-left: 95px;*/
  		font-size:14px;
  		color:rgb(136,136,136);
  		position: relative;
  		top: -20px;

  	}

  	.list-checkbox-content .label{
  		left:130px !important;
  	}

  	/* Hide the browser's default checkbox button */
  	.checkbox-content input {
  		position: absolute;
  		opacity:0;
  		left: 100px;
  		top:-11px;
  		cursor: pointer;
  		z-index:1000;
  	}

  	.th-checkbox-content input{
  		top:-20px !important;
  	}


  	/* Create a custom checkbox button */
  	.checkmark {
  		position: absolute;
  		height: 22px;
  		width: 22px;
  		top: -11px;
  		left: 100px;
  		border-radius: 50%;
  		background-color: #e5e5e5;

  	}
  	.th-checkmark {
  		top:-20px !important;
  	}

  	/* On mouse-over, add a grey background color */
  	.checkbox-content:hover input ~ .checkmark {
  		background-color: #5c6672;

  	}

  	/* When the checkbox button is checked, add a grey background */
  	.checkbox-content input:checked ~ .checkmark {
  		background-color: #5c6672;

  	}

  	/* Create the indicator (the dot/circle - hidden when not checked) */
  	.checkmark:after {
  		content:"\2714";
  		color:#c0c0c0 !important;
  		position: absolute;
  		display: block;
  	}

  	/* Show the indicator (dot/circle) when checked */
  	.checkbox-content input:checked ~ .checkmark:after {
  		display: block;
  	}

  	/* Style the indicator (dot/circle) */
  	.checkbox-content .checkmark:after {

  		content: "\2714";
  		left: 6px;
  		bottom:0px;
  		color: #fff !important;
  		font-size: 14px;
  		font-weight:bold;

  	}
  	/* check box*/

  	.numbers-input{
  		position:relative;

  	}
  	.numbers-check-box{
  		height:20px !important;
  		width:20px !important;
  		color:#2fdd85;
  	}
  	.pitch-deck-number-edit-row{
  		margin:20px 0px;
  	}


  	/* Create a custom checkbox button */
  	.checkmark {
  		position: absolute;
  		height: 22px;
  		width: 22px;
  		top: -11px;
  		left: 100px;
  		border-radius: 50%;
  		background-color: #e5e5e5;

  	}
  	.th-checkmark {
  		top:-20px !important;
  	}







  	/*table setting css*/
  	.organize-table{
  		border:1px solid #67707b;
  	}
  	.organize-table td, .organize-table th{
  		border-top:1px solid #67707b;
  	}
  	.organize-table td{
  		border-top:1px solid #67707b;
  		font-size: 14px !important;
  		color: #282828;
  		font-weight: bold;
  	}


  	.organize-table thead th{
  		border-bottom:1px solid #67707b;
  		background:#f6f6f6;
  		color:#92352f;
  	}




  	.button-group .dropdown-toggle {
  		font-size: 12px;
  		padding:0px 0px 0px 20px;
  	}
  	.checkmark p:hover{
  		list-style-type: none;
  	}
  	.dropdown-menu .list-checkbox-content span:hover{
  		text-decoration: none;
  	}
  	.table-align{
  		padding: 0 !important;
  	}




/*	.header-left{
		padding:20px;
	}
	*/




	/*footer settings*/



	.footer-margin {
		padding-left: 150px !important;
		padding-top: 30px;
	}

	.footer-header{
		font-size: 20px;
		font-weight: 400 !important;
	}
	.footer-text-size{
		font-size: 14px;
	}
	.border-table{
		border:1px solid #5C6672;
	}


	/*end of footer settings*/







	/*this is top margin of the table */




	/*this country dropdown select bar*/

	.custom-select{

		padding:2px 10px;
	}

	


	.select-down-btn{
		margin-left:-35px;
		z-index: 1;
	}

}
.select-lg .input-group-text{
	height: 39px;
	background:#5c6672;

}

	/*.category-col .form-input, .category-col  .select-lg{
		width:91% !important;
		margin:0px auto !important;

	}
	*/
/*.select-lg .fa-angle-down{
		color:#fff;
		font-weight:bold;
		font-size:20px;
		}*/



		/*size of sub text like edit  , change status  and remove*/



		.dropdown > .dropdown-toggle {
			font-size: 12px;
		}
		.table-list-inline div .dropdown-toggle {
			font-size: 12px;
		}