.select-dropdown{
  height: 30px;
  width: 440px;

}
.selectwrap{
    position: relative;
    float: left; 
    background:lightgreen;
    width: 440px;
    height: 30px;
    margin-right: 10px;
}
.selectwrap:after{
    color: white;
    content:"∨";
    text-align: center;
    line-height:32px;
    position: absolute;
    background: #fff;
    right: 1px;top: 1px;
    pointer-events: none; 
    background-color: rgb(92, 102, 114);
    width: 33px;
    height: 28px;
    }