.kh{
  border: 1px solid;
}

.sidenav {
    
    position: absolute;
    background-color: #5C6472;
    padding-top: 20px;
    height: 100%;
    margin-left: -15px;
    padding-left: 20px;
 


}
.sidenav-1 {
    
   
    background-color: #5C6472;
    padding-top: 20px;
    height: 100%;
    margin-left: -15px;
    padding-left: 20px;
 


}
.sidenav-logo{
     margin-left: -15px;
    padding-left: 20px;
   


  background-color: #5C6472;
}
.sidenav .list-inline li{
    padding-top: 10px;
    
}
.sidenav .list-inline a{
    cursor: pointer;
    color: #fff;
}
.sidenav a:hover{
    text-decoration:underline;
    
}
.sidenav-1 .list-inline li{
    padding-top: 10px;
    
}
.sidenav-1 .list-inline a{
    cursor: pointer;
    color: #fff;
}
.sidenav-1 a:hover{
    text-decoration:underline;
    
}
.content1{
margin-left: -75px;
}

@media screen and (max-width: 736px) {
   .content1{
width: 100% !important;
margin-top: 990px !important;
margin-left: 0px!important;

}
.sidenav{
    width: 100% !important;
    
	
	height: 650px!important;


}
.sidenav-1{
    width: 100% !important;
    
  
  height: 650px!important;


}
}

body {
  font-family: sans-serif;
}
a {
  color: #369;
}
.note {
  width: 50%;
  margin: 50px auto;
  font-size: 1.25em;
  color: #333;
  text-align: justify;
}
#drop-area {
  border: 2px  #ccc;
  border-radius: 20px;
  width: 280px;
 
 
  padding: 20px;
  border-color: #ccc;
  background-color: #ccc;
}
#drop-area.highlight {

}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;

  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
    opacity: 0;
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button-1 {
    margin: 0px 70px;
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;

}

